<div class="container">
  <div class="col-md-12">
    <div class="d-flex flex-row justify-content-around align-items-baseline">
      <h1>Cart</h1>
      <a [routerLink]="['/orders']" class="btn btn-link">
        <h5>Orders history</h5>
      </a>
    </div>
    <hr>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr class="text-center">
            <th>#ID</th>
            <th>Price [$]</th>
            <th>Type</th>
            <th>Product</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of cart?.items">
            <tr>
              <td>#{{item.id}}</td>
              <td>{{(item.amount / moneyMultiplier).toFixed(2)}} $</td>
              <td>{{getItemType(item.type)}}</td>
              <td>{{item.productName}}</td>
              <td class="text-center">
                <button class="btn btn-outline-danger" (click)="removeFromCart(item.id)"><i
                    class="fa fa-trash"></i></button>
              </td>
            </tr>
          </ng-container>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2" class="text-right">Total price [$]</td>
            <td><strong>{{(cart?.totalAmount / moneyMultiplier).toFixed(2)}} $</strong></td>
            <td *ngIf="cart?.items?.length > 0" class="text-center">
              <button class="btn btn-outline-danger" (click)="clearCart()">Clear all</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <ng-container *ngIf="cart && cart?.items?.length > 0">
      <div class="col-md-4 mx-auto">
        <button class="btn {{ !paymentFormVisible ? 'btn-outline-dark' : 'btn-outline-danger' }} btn-block"
          (click)="togglePaymentFormVisible()">{{!paymentFormVisible ? 'Checkout' : 'Cancel'}}</button>
      </div>
      <ng-container *ngIf="paymentFormVisible">
        <div class="col-md-8 mx-auto border rounded p-3 m-3">
          <h3 class="text-center">Complete your order</h3>
          <app-payment (stripeCard)="stripeCard = $event"></app-payment>
        </div>
        <div class="col-md-4 mx-auto">
          <button class="btn btn-success btn-block" (click)="purchaseOrder()">Buy</button>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
