<div class="container">
  <div class="col-md-8 mx-auto">
    <h1>Notifications</h1>
    <hr>
    <div class="d-flex flex-row justify-content-around">
      <button (click)="markAllAsRead()" class="btn btn-link text-success">Mark all as read</button>
      <button (click)="clearAll()" class="btn btn-link text-danger">Clear all</button>
    </div>
    <div class="col mt-3">
      <ng-container *ngIf="notifications?.length > 0; else emptyList">
        <ng-container *ngFor="let notification of notifications">
          <app-notification-card [notification]="notification" (notificationRead)="onNotificationRead($event)"
            (notificationDeleted)="onNotificationDeleted($event)">
          </app-notification-card>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
<ng-template #emptyList>
  <app-empty-list-info [message]="'Any notifications found...'"></app-empty-list-info>
</ng-template>
