<div class="container">
  <div class="com-md-8 mx-auto">
    <h1>Upgrade your account to premium status!</h1>
    <hr>
    <h2 class="text-center">What benefits would you achieve?</h2>
    <ul class="list-group mt-3">
      <li class="list-group-item"><i class="fas fa-star"></i>
        Your offers would be verified and would be displayed
        on the top of home page</li>
      <li class="list-group-item"><i class="fas fa-star"></i>
        Your account would be verified</li>
      <li class="list-group-item"><i class="fas fa-star"></i>
        Access to only premium user statistics</li>
    </ul>
    <hr>
    <h3 class="text-center">Price: {{premiumPrice}} $</h3>
    <button class="btn btn-outline-success btn-block mt-3" (click)="addUpgradeAccountToCart()">Upgrade account</button>
  </div>
</div>
