<div class="container">
  <div class="col-md-8 mx-auto">
    <h1>Your order #{{orderId}} has been completed!</h1>
    <hr>
    <div class="text-center">
      <h4>Thank you for purchasing order on MyVinted!</h4>
      <i class="fas fa-heart fa-3x"></i>
      <h5>MyVinted team</h5>
      <hr>
      <ng-container *ngIf="isUpgradeAccount === false; else upgradeAccount">
        <div class="d-flex flex-row justify-content-around">
          <a [routerLink]="['/orders']" class="btn btn-outline-dark">Go to orders history</a>
          <a [routerLink]="['']" class="btn btn-outline-primary">Back to home page</a>
        </div>
      </ng-container>
      <ng-template #upgradeAccount>
        <div class="d-flex flex-row justify-content-around">
          <a [routerLink]="['/login']" class="btn btn-outline-dark btn-block">Sign in again in order to apply
            changes</a>
        </div>
      </ng-template>
    </div>
  </div>
</div>
