<div class="container">
  <div class="col-md-8 mx-auto">
    <h1>Did you forget your password? Reset it!</h1>
    <hr>
    <form [formGroup]="resetPasswordForm">
      <fieldset class="form-group">
        <label>Email address</label>
        <input type="email" formControlName="email" placeholder="Email address..." class="form-control" required>
        <app-validation-error [errorTuple]="getValidationErrorTuple('email')"></app-validation-error>
      </fieldset>
      <fieldset class="form-group">
        <label>New password</label>
        <input type="password" formControlName="newPassword" placeholder="New password..." class="form-control" required
          minlength="{{constants.minPasswordLength}}" maxlength="{{constants.maxPasswordLength}}">
        <app-letters-limiter
          [inputData]="{count: resetPasswordForm.get('newPassword').value?.length, maxCount: constants.maxPasswordLength}">
        </app-letters-limiter>
        <app-validation-error [errorTuple]="getValidationErrorTuple('newPassword')"></app-validation-error>
      </fieldset>
      <fieldset class="form-group">
        <label>Confirm password</label>
        <input type="password" formControlName="confirmPassword" placeholder="Confirm password..." class="form-control"
          required maxlength="{{resetPasswordForm.get('newPassword').value?.length}}">
        <app-letters-limiter
          [inputData]="{count: resetPasswordForm.get('confirmPassword').value?.length, maxCount: resetPasswordForm.get('newPassword').value?.length}">
        </app-letters-limiter>
        <app-validation-error [errorTuple]="getValidationErrorTuple('confirmPassword')"></app-validation-error>
      </fieldset>
      <div class="col text-center">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="resetPasswordForm.invalid"
          (click)="sendResetPasswordCallback()">Send reset
          password token</button>
        <a [routerLink]="['/login']" class="btn btn-link">Do you remember your password? Just sign in!</a>
      </div>
    </form>
  </div>
</div>
<app-host-listener [form]="resetPasswordForm"></app-host-listener>
