<div class="col-md-8 mx-auto">
  <form [formGroup]="changePasswordForm">
    <h3 class="text-center">Change password</h3>
    <fieldset class="form-group">
      <label>Old password</label>
      <input type="password" formControlName="oldPassword" placeholder="Old password..." class="form-control" required>
      <app-validation-error [errorTuple]="getValidationErrorTuple('oldPassword')"></app-validation-error>
    </fieldset>
    <fieldset class="form-group">
      <label>New password</label>
      <input type="password" formControlName="newPassword" placeholder="New password..." class="form-control" required
        minlength="{{constants.minPasswordLength}}" maxlength="{{constants.maxPasswordLength}}">
      <app-letters-limiter
        [inputData]="{count: changePasswordForm.get('newPassword').value?.length, maxCount: constants.maxPasswordLength}">
      </app-letters-limiter>
      <app-validation-error [errorTuple]="getValidationErrorTuple('newPassword')"></app-validation-error>
    </fieldset>
    <fieldset class="form-group">
      <label>Confirm password</label>
      <input type="password" formControlName="confirmPassword" placeholder="Confirm password..." class="form-control"
        required maxlength="{{changePasswordForm.get('newPassword').value?.length}}">
      <app-letters-limiter [inputData]="{count: changePasswordForm.get('confirmPassword').value?.length, maxCount:
        changePasswordForm.get('newPassword').value?.length}">
      </app-letters-limiter>
      <app-validation-error [errorTuple]="getValidationErrorTuple('confirmPassword')"></app-validation-error>
    </fieldset>
    <button type="submit" class="btn btn-success btn-block"
      [disabled]="changePasswordForm.invalid || changePasswordForm.pristine" (click)="changePassword()">Change
      password</button>
  </form>
</div>
<app-host-listener [form]="changePasswordForm"></app-host-listener>
