<form [formGroup]="filterForm">
  <h3 class="text-center">Filters</h3>
  <hr>
  <fieldset class="form-group">
    <label>Username / email address</label>
    <input type="search" formControlName="name" class="form-control" placeholder="Search...">
  </fieldset>
  <fieldset class="form-group">
    <label>Follow status</label>
    <select class="form-control" formControlName="followStatus">
      <option [ngValue]="0">All</option>
      <option [ngValue]="1">Followed</option>
      <option [ngValue]="2">Following</option>
      <option [ngValue]="3">Not followed</option>
      <option [ngValue]="4">Not following</option>
    </select>
  </fieldset>
  <fieldset class="form-group">
    <label>Sort type</label>
    <select class="form-control" formControlName="sortType">
      <option [ngValue]="0">Verified &darr;</option>
      <option [ngValue]="1">Opinions count &darr;</option>
      <option [ngValue]="2">Follows count &darr;</option>
      <option [ngValue]="3">Rating &darr;</option>
    </select>
  </fieldset>
  <fieldset class="form-group d-flex flex-row justify-content-around align-items-baseline">
    <label>Only verified</label>
    <input type="checkbox" formControlName="onlyVerified">
  </fieldset>
  <button type="submit" class="btn btn-outline-primary btn-block" (click)="emitFilters()">Filter</button>
  <button type="button" class="btn btn-outline-danger btn-block" (click)="clearFilters()">Clear</button>
</form>
